<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">

	<test name="ToolsQA">

		<parameter name="username" value="9545171178" />

		<parameter name="password" value="singhsingh54@QA" />
		
		<parameter name="chromeExeFilePath" value="C:\Users\niraj\Downloads\chromedriver_win32\chromedriver.exe" />

		<classes>
			<class name="com.testng.AppTest" />
		</classes>

	</test>

</suite>
